.chart{
    position: absolute;
    top: 180px;
    left: 530px;     
    background-color: antiquewhite;
    transition: transform 0.5s;
    

}
.chart:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px gray;
}
.ch{
    background-color: antiquewhite;
}