.chart{
    position: absolute;
    top: 160px;
    left: 590px;     
    background-color:whitesmokes;
    transition: transform 0.5s;
    z-index: 1000;
    height: 29rem;
  
    

}
.chart:hover{
    transform: scale(1.05);
}

.info{
    color: black;
    text-align: center;
    font-weight: 800;
}

.lan{
    color: black;
    font-weight: 700;
    text-align: start;
}