 html {
  background-image:url(./pexels-photo-355747.jpeg);
  background-color: aqua;
   background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
